
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  box-sizing: border-box;
}


:root {
  --bg-main: #f4f6fb;
  --bg-card: #ffffff;

  --primary: #1e40af;
  --primary-light: #3b82f6;

  --text-main: #0f172a;
  --text-muted: #64748b;

  --border: #e5e7eb;
  --radius: 12px;

  --shadow: 0 10px 30px rgba(0,0,0,0.08);
}

body {
  margin: 0;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: var(--bg-main);
  color: var(--text-main);
}
