.navbar{
    width: 100%;
   padding: 2px 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:absolute;
    font-size: 18px;
    color: e5e5e5;
    top: 0;
    left: 0;
   
  z-index: 1000;}



.navbar-left img{
    width: 110px;
}
.navbar-center ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}
.navbar-center ul li {
  list-style: none;
  padding: 6px 14px;
  border: 1.5px solid rgba(0, 0, 0, 0.4);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s ease;
}

.navbar-center ul li:hover {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.7);
}

.navbar-right{
    display: flex;
    align-items: center;
}

.signup-btn {
  padding: 14px 30px;
  background: linear-gradient(135deg, #0b3954, #087e8b);
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.signup-btn:hover {
  background: linear-gradient(135deg, #087e8b, #0b3954);
  transform: translateY(-3px);
}

.signup-btn:active {
  transform: scale(0.95);
}


