.footer {
  background: #0c0c0c;
  color: #fff;
  padding: 60px 10%;
  text-align: left;

}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.footer-col h3 {
  margin-bottom: 12px;
  font-size: 1.3rem;
  font-weight: 600;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 8px;
  font-size: 0.95rem;
  opacity: 0.9;
  cursor: pointer;
}

.footer-col ul li:hover {
  opacity: 1;
}

.footer-logo {
  font-size: 2rem;
  font-weight: 700;
}

.footer-about {
  margin-top: 12px;
  max-width: 280px;
  opacity: 0.9;
  line-height: 1.4;
  font-size: 0.95rem;
}

.footer-social {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin: 30px 0 15px;
  font-size: 1.6rem;
  cursor: pointer;
  width: 30px;
height: 30px;
}

.footer-social svg:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
  color: #ffae00;
}

.footer-disclaimer {
  text-align: center;
  opacity: 0.7;
  margin: 10px 0;
  font-size: 0.85rem;
}

.footer-copy {
  text-align: center;
  opacity: 0.7;
  font-size: 0.9rem;
  margin-top: 5px;
}

/* Responsive Footer */
@media (max-width: 768px) {
  .footer {
    text-align: center;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-col {
    align-items: center;
  }
}
